In [1]:
import pandas as pd
from datetime import datetime

In [ ]:
data = pd.read_csv('/Users/marywu/Desktop/Desktop - mary/open your eyes./Northwestern/357/US_Elections_2024/president_polls.csv')

In [27]:
filtered_data = data[(data['cycle'] == 2024) &
                     (data['stage'] == 'general') &
                     (data['nationwide_batch'] == False) &
                     (data['candidate_name'].isin(['Kamala Harris', 'Donald Trump']))]

filtered_data_sorted = (filtered_data[['state', 'pollster', 'start_date', 'end_date', 'sample_size', 'candidate_name', 'pct']]
                        .sort_values(by=['state', 'start_date'])
                        .pivot_table(index=['state', 'pollster', 'start_date', 'end_date', 'sample_size'],
                                     columns='candidate_name', values='pct')
                        .reset_index())

filtered_data_sorted['start_date'] = pd.to_datetime(filtered_data_sorted['start_date'], errors='coerce', format='%m/%d/%y')
filtered_data_sorted['end_date'] = pd.to_datetime(filtered_data_sorted['end_date'], errors='coerce', format='%m/%d/%y')

clean_data = filtered_data_sorted[filtered_data_sorted['start_date'] >= datetime(2024, 7, 21)]

/var/folders/dd/mfscqrcj35qct16_wyv5xm8w0000gn/T/ipykernel_44231/3122544662.py:1: DtypeWarning: Columns (16,17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/marywu/Desktop/Desktop - mary/open your eyes./Northwestern/357/US_Elections_2024/president_polls.csv')
/var/folders/dd/mfscqrcj35qct16_wyv5xm8w0000gn/T/ipykernel_44231/3122544662.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data.rename(columns={
/var/folders/dd/mfscqrcj35qct16_wyv5xm8w0000gn/T/ipykernel_44231/3122544662.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['Other'] = 100 - clean_data['Trump'] - clean_data['Harris']

,state,pollster,start_date,end_date,sample_size,Trump,Harris,Other
0,Alaska,Alaska Survey Research,2024-10-20,2024-10-22,1703.0,53.0,44.0,3.0
1,Alaska,Alaska Survey Research,2024-10-08,2024-10-09,1254.0,52.0,44.5,3.5
2,Alaska,Alaska Survey Research,2024-09-11,2024-09-12,1254.0,47.0,42.0,11.0
3,Alaska,Alaska Survey Research,2024-09-27,2024-09-29,1182.0,52.0,43.0,5.0
4,Alaska,Cygnal,2024-08-30,2024-09-01,400.0,53.0,43.1,3.9

In [ ]:
clean_data.columns.name = None
clean_data.reset_index(drop=True, inplace=True)

clean_data.rename(columns={
    'Donald Trump': 'Trump',
    'Kamala Harris': 'Harris'
}, inplace=True)
clean_data['Other'] = 100 - clean_data['Trump'] - clean_data['Harris']

clean_data.head()

In [28]:
clean_data.to_csv("/Users/marywu/Desktop/Desktop - mary/open your eyes./Northwestern/357/US_Elections_2024/cleaned_data.csv", index=False)